body {
    display: grid;
    grid-template-columns: minmax(400px, 800px);
    justify-content: center;
}

input:required {
    border: 1px solid red;
}

fieldset {
    background-color: lightgrey;
    padding: 1rem;
}

fieldset:hover {
    background-color: grey;
}

fieldset:first-child {
    border-bottom: 5px solid black;
}
fieldset:nth-last-child(2) {
    border-bottom: 5px solid black;
}

#button {
    background-color: black;
    color: white;
}