
body {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    background-color: black;
    color: white;
    width: 600px;
    padding-left: 10px;
}

section {
    width: 400px;
    align-items: center;
}

section > img {
    float: right;
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    border-color: transparent;

    font-weight: bold;
}

fieldset input , fieldset textarea{
    border-radius: 0%;
    background-color: grey;
    width: 100%;
}

h3 {
    color: grey;
    border-bottom: 1px solid lightgrey;
}

button {
    background-color: black;
    color: white;
    width:33%;
    padding:8px 16px;
    border:1px solid black;
    display:block;
}

    