body {
    display: grid;
    grid-template-columns: minmax(0, 300px);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

section img {
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    border-color: transparent;

    font-weight: bold;
}

fieldset input , fieldset textarea{
    border-radius: 0%;
    background-color: grey;
    width: 100%;
}

h3 {
    color: grey;
    border-bottom: 1px solid lightgrey;
}

button {
    background-color: black;
    color: white;
    width:33%;
	padding:8px 16px;
	border:1px solid black;
	display:block;
}

