#provincias li:last-child {
    background-color:rgb(0,0,255);
}

li:nth-child(odd) {
    text-decoration: underline green;
}

ul {
    /* list-style: none; */
    display: flex;
    gap: 10px;
}

li::after {
    content: '😀';
}

li:lang(EN) {
    font-size: 200%;
    text-transform: uppercase;
}

#provincias {
    list-style: upper-roman;
}

#provincias li:nth-child(2) {
    list-style: none;
}