.grid {
    display: grid;
    background-color: orange;
    width: 200px;
    padding-left: 100px;
}

.header {
    text-align: center;
    font-size: 110px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

.people {
    display: grid;
    grid-template-columns: repeat(3, 1fr) minmax(0, 900px);
    gap: 1em;
}

.par1, .par2, .par3 {
    background-color: rgb(59, 54, 133);
    color: white;
    display: block;
    transition-property: transform, box-shadow;
    transition-duration: 2000ms;
    align-self: flex-start;
    grid-auto-rows: minmax(0, 260px);
}

img {
    width: 260px;
    height: 260px;
}

.par1:hover, .par2:hover, .par3:hover {
    transform: scale(1.2);
    box-shadow: 0 3px 5px black;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}